.item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem;
}

.text {
  color: #293241;
  font-size: 1rem;
}

.left-wrapper {
  border-bottom: 1px solid #98c1d9;
  max-width: 100%;
  min-width: 100px;
  display: flex;
  flex: 4;
  align-items: center;
}

@keyframes strike {
  from {
    text-decoration-color: transparent;
    color: #293241;
  }
  to {
    text-decoration-color: auto;
    color: silver;
  }
}

.strike {
  text-decoration: line-through;
  animation: strike 0.2s linear;
  color: silver;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottom-wrapper {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: space-around; */
  /* border: 1px solid orange; */
}

.input-form {
  display: flex;
  /* max-width: 100%; */

  margin-bottom: 1rem;
  /* border: 1px solid orange; */
}

form {
  display: flex;
  justify-content: center;
}

.checkbox {
  cursor: pointer;
  padding-right: 10px;
}

.icons {
  display: flex;
  align-items: center;
  /* width: 90px; */
}
.trash {
  padding: 10px;
  cursor: pointer;
}
.edit {
  padding: 10px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 2px solid salmon;
  transition: padding 0.3s 0.2s ease;
}

input:focus {
  /* text-align: center; */
  outline: none;
}

.input-form-edit {
  /* padding: 20px 10px ; */
  width: 100%;
  align-items: center;
}

#edit-input {
  width: 80%;
  padding: 20px;
  font-size: 1rem;
  background-color: transparent;
  font-family: "Poppins";
  /* border: 1px solid grey */
}

#add-todo {
  align-items: center;
  border-radius: 6px;
  padding: 12px;
  font-size: 1rem;
  width: 80%;
  background-color: rgba(98, 98, 98, 0.161);
  /* border:1px solid orange; */
}

.list-container {
  height: 50vh;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(98, 98, 98, 0.161);
  padding: 10px;
  border: 1px solid silver;
  border-radius: 8px;
  margin: 20px 0;
}

/* .list-container::-webkit-scrollbar {
  display: none;
} */
